body {
    font-family: Arial, Helvetica, sans-serif;
    background: #1500b8;
    margin: auto;
    width: 1000px;
    padding: 10px;
    padding-bottom: 20px;
}

h1,
h2,
p {
    margin: 0px;
    padding: 10px 5px;
    color: white;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 35px;
}

p {
    font-size: 21px;
}

#footer {
    font-size: 16px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #003ffb;

}

li {
    float: left;
}

li a {
    display: block;
    padding: 8px;
    color: white;
    text-decoration: none;
}

img {
    max-width: 1000px;
}

#nier-automata {
    background-color: rgb(39, 7, 198);
}

.description {
    background-color: rgb(39, 7, 198);
}